INI/Service References/ChamiloWS/chamilo1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://investic.udenar.edu.co/chamilo/chamilo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://investic.udenar.edu.co/chamilo/chamilo.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="insertUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="user" nillable="true" type="q1:ChamiloUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="user" nillable="true" type="q2:ChamiloUser" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserChamilo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserChamiloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getUserChamiloResult" nillable="true" type="q3:ChamiloUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCources">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllCourcesResult" nillable="true" type="q4:ArrayOfchamiloCource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCourcesByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCourcesByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getCourcesByUserResult" nillable="true" type="q5:ArrayOfchamiloCource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCourceByRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="role" type="q6:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCourceByRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getCourceByRoleResult" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLessonByCource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cource" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLessonByCourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getLessonByCourceResult" nillable="true" type="q8:ArrayOfChamiloLesson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTutorCource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cource" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTutorCourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getTutorCourceResult" nillable="true" type="q9:chamiloDescriptionCatalog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>